body {
    margin: 0;
    padding: 0;
    background: black;
    background-size: cover;
}

#text {
    z-index: 100;
    position: absolute;
    color: white;
    left: 150px;
    top: 25%;
    font-size: 4em;
    font-weight: 900;
    margin-right: 150px;
}

.overlay {
    display: block;
    position: absolute;
    background-color: rgba(138, 108, 108, 0.3);
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    padding: 0;
}

.image {
    padding: 0;
}

#header {
    position: absolute;
    z-index: 10;
    margin-left: 150px;
    margin-top: 20px;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}